#root {
  padding: 10px;
  width: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.app {
  text-align: center;
}

.answer {
  margin: 10%;
  width: 30%;
  height: 30%;
  font: 18px arial, sans-serif;
  background: linear-gradient(to bottom right, #e66465, #9198e5);
  border-radius: 5px;
  padding: 20px;
  border: 0px;
  color: white;
}
.question {
  font: 25px arial, sans-serif;
  margin-top: 5%;
  text-align: center;
  background: linear-gradient(to right, white 80%, #00ccbc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.score {
  font: 25px arial, sans-serif;
  margin-top: 5%;
  color: white;
  width: 80%;
  height: 30px;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.left {
  float: left;
  color: #e66465;
}

.right {
  float: right;
  color: lightgreen;
}

.center {
  width: 100%;
  align-items: center;
  text-align: center;
}

.reset {
  position: relative;
  margin: 10px;
  margin-bottom: 0px;
  width: 30%;
  height: 30%;
  font: 18px arial, sans-serif;
  background: linear-gradient(to bottom right, #e66465, #9198e5);
  border-radius: 5px;
  padding: 10px;
  border: 0px;
  color: white;
}

#progressBar {
  width: 100%;
  position: relative;
}

#timer {
  text-align: center;
  color: white;
  font: 25px arial, sans-serif;
}
